*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}

p{
    font-weight: 300;
    color: #111;
}

header{
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 10px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
}

.logo{
    color: #fefcfa;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}
.logo span{
    color: #e1cd37;
}
.navbar{
    display: flex;
    position: relative;
}
.navbar li{
    list-style: none;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
}
.btn-reserve{
    padding: 10px 20px;
    background: #116c8b ;
    margin-top: -10px;
    text-transform: uppercase;
}
.btn-reserve:hover{
    background: #cecbc6;
    transition: ease-out;
}
header .navbar li a:hover{
    color: #d87710;
    border-bottom: 2px solid #d87710;
}
.banniere{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./hotel.jpg);
    background-size: cover;
}
.banniere .contenu{
    max-width: 70%;
    text-align: center;
}
.banniere .contenu h3{
    color: #fff;
    font-size: 3em;
    text-transform: capitalize;
}
.contenu p:nth-child(2){
    color: #fff;
    font-size: 1.2em;
}
.btn1{
    font-size: 1em;
    color: #fff;
    background:#d87710;
    padding: 10pox 20px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
}
.btn2{
    font-size: 1em;
    color: #fff;
    background:#225088;
    padding: 10pox 20px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
}
.btn1:hover{
    letter-spacing: 4px;
}
section{
    padding: 100px;
}
.range{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.range .col50{
    position: relative;
    width: 48%;
    justify-content: center;
    align-items: center;
}
.range .col50 h2{
    margin-bottom: 20px;
}
.titre{
    color: #000;
    font-size: 2em;
    font-weight: 300px;
    text-transform: capitalize;
}

.titre span{
    color: #116c8b;
    font-size: 1.5em;
    font-weight: 700px;
}
.range .col50 img{
    height: 450px;
    width: 600px;
    position: relative;
}
.titre{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu{
    margin-top: -200px;
}
.menu .contenu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}
.menu .contenu .box{
    width: 350px;
    margin-top: 20px;
    border: 20px solid #fff;
}