main{
    padding-left: 50px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 0;
}

header{
    background-image: url(./images/im4.jpg);
    height: 100vh;
    background-size: cover;
}
.logo a{
    color: #fff;
    padding: 0px 20px;
    border: 1px solid #fff;
    position: absolute;
    top: 10px;
    left: 2px;
    text-transform: uppercase;
    text-decoration: none;
}
.logo span{
color: rgb(238, 56, 11);
font-weight: bold;
font-size: 2rem;
}
ul{
    list-style: none;
    float: right;
    display: flex;
    margin-top: 20px;
   }
   ul li a{
    text-decoration: none;
    color: #04251b;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid transparent;
   
    margin: 10px;
    font-weight: 500;
    transition: 0.6s ease;
}
ul li a:hover{
    background:#cdcd19;
    color: #000;
}
/*ul li.active a{
    background: #5ab197;
    color: #a23333;
}*/
.principale{
    max-width: 110rem;
    margin: 0 auto;
}
.titre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/*.titre h2{
    color: #495d0d ;
    font-size: 50px;
}*/
.bouton{position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    list-style-type: none;
    
}

.btn{
    transition: 0.6s ease;

    
}
.btn:hover{
    background-color: #492d9e;
    color: #000;
}
.btn{
    color: #9f720f;
    font-size: 14px;
    border: 2px solid #d92975;
    padding: 5px 20px;


}
.slog{
    color: #8f610c;
    font-size: 4em;
}
.bouton a{
    background-color: #103f40;
    /*color: #40d380;*/
    text-decoration: none;
    /*border: 1px solid #3a9d47;*/
    left: 50%;  
    padding: 5px 20px; 
    list-style-type: none;
    padding-bottom: 20px;
    margin-top: 20px;
    border-radius: 20px;

}
h1{
    color: #02bfc6;
    padding: 250px 550px;
}

.bienvenue{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./images/beach3.jpg);
    padding: 80px 20px;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

/* <footer>
        <div class=" contenu-footer">
            <div  class="bloc footer-service">
                <h3>Nos services</h3>
                <ul class="liste-service">
                    <li><a href="#">Hebergement</a></li>
                    <li><a href="#">Noms de domaines</a></li>
                    <li><a href="#">E-commerce</a></li>
                    <li><a href="#">Machine Learning</a></li>
                    <li><a href="#">Finances</a></li>
                    <li><a href="#">Start-up</a></li>


                </ul>
            </div>


            <div  class="bloc footer-service">
                <h3>Restons en contact</h3>
                <p>555-555-6667</p>
                <p>supportclient@contact.com</p>
                <p>6 rue de l'invention, Paris VII, 7589</p>
            </div>

            <div  class="bloc footer-service">
                <h3>Horaires</h3>
                <ul class="liste-horaire">
                    <li>✅Lun 9h-18h</li>
                    <li>✅Mar 9h-18h</li>
                    <li>✅Mer 9h-18h</li>
                    <li>✅Jeu 9h-18h</li>
                    <li>✅Ven 9h-18h</li>
                    <li>✅Sam 10h-16h</li>
                    <li>❌Dim 9h-18h</li>


                </ul>
          </div>
          <div  class="bloc footer-service">
            <h3>Nos réseaux</h3>
            <ul class="liste-service">
                <li><a href="#"><img src="medias/fb.svg" alt="">Facebook/monsite</a></li>
                <li><a href="#">Noms de domaines</a></li>
                <li><a href="#">E-commerce</a></li>
                <li><a href="#">Machine Learning</a></li>
                <li><a href="#">Finances</a></li>
                <li><a href="#">Start-up</a></li>


            </ul>
        </div>
        </div>
    </footer>*/